$baseColor: #11d9bf;
$lightBackground: #f5f5f5;

html, body, h1, h2, h3, h4, div, p {
	margin: 0;
}


html, body,{
	font-size: 62.5%;	
	//height: 100%;	

	section {
		height: 100%;
	}
}

.app-list {
	height: 64px;
	width: 100%;
	position: relative;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;

	.list-left {
		display: inline-block;
		width: 64px;
		padding: 8px;

		img {
			height: 48px;
			width: 48px;
		}
	}

	.list-center {	
		display: inline-block;
		width: 40%;
		vertical-align: top;

		.app-title {
			margin-top: 12px;
			font-size: 120%;
			font-weight: 200%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.app-desc {
			font-size: 12px;
			color: #8d8d8d;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.list-right {
		display: inline-block;
		position: absolute;
		right: 8px;
		top: 16px;
	}
}

//app style
.game-app {
	height: 100%;

	//header
	.header {
		font-size: 1.4rem;
		color: #fff;
		height: 44px;
		background: #11d9bf;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;

		.left-nav {
			display: inline-block;
			position: absolute;
			left: 0;
		}
		.center-nav {
			margin: 0 48px;
			display: block;
			line-height: 44px;
			text-align: center;
		}
		.right-nav {
			display: inline-block;
			position: absolute;
			right: 0;
		}
	}

	//footer, control bar
	.footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		height: 44px;
		background: $baseColor;

		.footer-nav-bar{
			display: inline-block;
			width: 25%;
			text-align: center;
			line-height: 44px;
			color: #fff;
			font-size: 1.4rem;
		}
	}
}

.content {
	//margin: 44px 0;
	//height: 100%;
}

//dashboard
 .dashboard {
 	margin-top: 44px;
 }

//recommend 
.recommend{
	background: $lightBackground;
	margin: 44px 0;
	height: 100%;

	&>div {
		//height: 100% !important;
	}
	.app-list{
 	 	background: #fff;
 	 	position: relative;
 	 	display: inline-block;
 	 	height: 64px;
 	 	width: 100%;
 	 	margin: 8px 0 0 0;

		.list-left{
			position: absolute;
			left: 0;
  			width: 64px;
 	 		padding: 8px;

 	 		img{
 	 			height: 48px;
 	 			width: 48px;
 	 		}
		}
		.list-center{
			display: inline-block;
  			padding-left: 80px;
  			padding-right: 40px;
  			vertical-align: top;

  			.app-title{
  				font-size: 1.6rem;
  				line-height: 1.6rem;
  				padding-top: 0.8rem;
  			}
  			.app-desc{
  				font: 1.3rem;
  				line-height: 2rem;
  			}
		}
		.list-right{
			display: inline-block;
  			position: absolute;
  			top: 20px;
  			right: 12px;
		}
	}
}

//category 
.category-list {
	margin-top: 44px;
	padding-bottom: 44px;

	.game-card {
		.game-title {
			padding: 0 0 0 8px;

			p {
				margin: 0;
				line-height: 48px;
				font-size: 16px;
				position: relative;

				a {
					position: absolute;
					right: 8px;
					color: $baseColor;
					font-size: 14px;
					text-decoration: none;
				}
			}
		}
		.game-app-list {
			.list-left {
				width: 100px;
				height: 64px;

				span {
					display: inline-block;
					line-height: 48px;
					width: 28px;
					margin-right: 8px;
					text-align: center;
					vertical-align: top;
				}
			}
		}
	}
}