/* line 4, G:/coding/github/h5game/www/scss/style.scss */
html, body, h1, h2, h3, h4, div, p {
  margin: 0; }

/* line 9, G:/coding/github/h5game/www/scss/style.scss */
html, body {
  font-size: 62.5%; }
  /* line 13, G:/coding/github/h5game/www/scss/style.scss */
  html section, body section {
    height: 100%; }

/* line 18, G:/coding/github/h5game/www/scss/style.scss */
.app-list {
  height: 64px;
  width: 100%;
  position: relative;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  z-index: 10; }
  /* line 26, G:/coding/github/h5game/www/scss/style.scss */
  .app-list .list-left {
    display: inline-block;
    width: 64px;
    padding: 8px; }
    /* line 31, G:/coding/github/h5game/www/scss/style.scss */
    .app-list .list-left img {
      height: 48px;
      width: 48px; }
  /* line 37, G:/coding/github/h5game/www/scss/style.scss */
  .app-list .list-center {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
    /* line 42, G:/coding/github/h5game/www/scss/style.scss */
    .app-list .list-center .app-title {
      margin-top: 12px;
      font-size: 120%;
      font-weight: 200%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    /* line 50, G:/coding/github/h5game/www/scss/style.scss */
    .app-list .list-center .app-desc {
      font-size: 12px;
      color: #8d8d8d;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  /* line 59, G:/coding/github/h5game/www/scss/style.scss */
  .app-list .list-right {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 16px; }

/* line 68, G:/coding/github/h5game/www/scss/style.scss */
.game-app {
  height: 100%; }
  /* line 72, G:/coding/github/h5game/www/scss/style.scss */
  .game-app .header {
    font-size: 1.4rem;
    color: #fff;
    height: 44px;
    background: #11d9bf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; }
    /* line 82, G:/coding/github/h5game/www/scss/style.scss */
    .game-app .header .left-nav {
      display: inline-block;
      position: absolute;
      left: 0; }
    /* line 87, G:/coding/github/h5game/www/scss/style.scss */
    .game-app .header .center-nav {
      margin: 0 48px;
      display: block;
      line-height: 44px;
      text-align: center; }
    /* line 93, G:/coding/github/h5game/www/scss/style.scss */
    .game-app .header .right-nav {
      display: inline-block;
      position: absolute;
      right: 0; }
  /* line 101, G:/coding/github/h5game/www/scss/style.scss */
  .game-app .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 44px;
    background: #11d9bf; }
    /* line 108, G:/coding/github/h5game/www/scss/style.scss */
    .game-app .footer .footer-nav-bar {
      display: inline-block;
      width: 25%;
      text-align: center;
      line-height: 44px;
      color: #fff;
      font-size: 1.4rem; }

/* line 125, G:/coding/github/h5game/www/scss/style.scss */
.dashboard {
  margin-top: 44px; }

/* line 130, G:/coding/github/h5game/www/scss/style.scss */
.recommend {
  background: #f5f5f5;
  margin: 44px 0;
  height: 100%; }
  /* line 138, G:/coding/github/h5game/www/scss/style.scss */
  .recommend .app-list {
    background: #fff;
    position: relative;
    display: inline-block;
    height: 64px;
    width: 100%;
    margin: 8px 0 0 0; }
    /* line 146, G:/coding/github/h5game/www/scss/style.scss */
    .recommend .app-list .list-left {
      position: absolute;
      left: 0;
      width: 64px;
      padding: 8px; }
      /* line 152, G:/coding/github/h5game/www/scss/style.scss */
      .recommend .app-list .list-left img {
        height: 48px;
        width: 48px; }
    /* line 157, G:/coding/github/h5game/www/scss/style.scss */
    .recommend .app-list .list-center {
      display: inline-block;
      padding-left: 80px;
      padding-right: 40px;
      vertical-align: top; }
      /* line 163, G:/coding/github/h5game/www/scss/style.scss */
      .recommend .app-list .list-center .app-title {
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding-top: 0.8rem; }
      /* line 168, G:/coding/github/h5game/www/scss/style.scss */
      .recommend .app-list .list-center .app-desc {
        font: 1.3rem;
        line-height: 2rem; }
    /* line 173, G:/coding/github/h5game/www/scss/style.scss */
    .recommend .app-list .list-right {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 12px; }

/* line 183, G:/coding/github/h5game/www/scss/style.scss */
.category-list {
  margin-top: 44px; }
  /* line 187, G:/coding/github/h5game/www/scss/style.scss */
  .category-list .game-card .game-title {
    padding: 0 0 0 8px; }
    /* line 190, G:/coding/github/h5game/www/scss/style.scss */
    .category-list .game-card .game-title p {
      margin: 0;
      line-height: 48px;
      font-size: 16px;
      position: relative; }
      /* line 196, G:/coding/github/h5game/www/scss/style.scss */
      .category-list .game-card .game-title p a {
        position: absolute;
        right: 8px;
        color: #11d9bf;
        font-size: 14px;
        text-decoration: none; }
  /* line 206, G:/coding/github/h5game/www/scss/style.scss */
  .category-list .game-card .game-app-list .list-left {
    width: 100px;
    height: 64px; }
    /* line 210, G:/coding/github/h5game/www/scss/style.scss */
    .category-list .game-card .game-app-list .list-left span {
      display: inline-block;
      line-height: 48px;
      width: 28px;
      margin-right: 8px;
      text-align: center;
      vertical-align: top; }
