/* line 4, E:/allmobilize/h5game/www/scss/style.scss */
html, body, h1, h2, h3, h4, div, p {
  margin: 0; }

/* line 9, E:/allmobilize/h5game/www/scss/style.scss */
html, body {
  font-size: 62.5%; }
  /* line 13, E:/allmobilize/h5game/www/scss/style.scss */
  html section, body section {
    height: 100%; }

/* line 18, E:/allmobilize/h5game/www/scss/style.scss */
.app-list {
  height: 64px;
  width: 100%;
  position: relative;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }
  /* line 25, E:/allmobilize/h5game/www/scss/style.scss */
  .app-list .list-left {
    display: inline-block;
    width: 64px;
    padding: 8px; }
    /* line 30, E:/allmobilize/h5game/www/scss/style.scss */
    .app-list .list-left img {
      height: 48px;
      width: 48px; }
  /* line 36, E:/allmobilize/h5game/www/scss/style.scss */
  .app-list .list-center {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
    /* line 41, E:/allmobilize/h5game/www/scss/style.scss */
    .app-list .list-center .app-title {
      margin-top: 12px;
      font-size: 120%;
      font-weight: 200%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    /* line 49, E:/allmobilize/h5game/www/scss/style.scss */
    .app-list .list-center .app-desc {
      font-size: 12px;
      color: #8d8d8d;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  /* line 58, E:/allmobilize/h5game/www/scss/style.scss */
  .app-list .list-right {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 16px; }

/* line 67, E:/allmobilize/h5game/www/scss/style.scss */
.game-app {
  height: 100%; }
  /* line 71, E:/allmobilize/h5game/www/scss/style.scss */
  .game-app .header {
    font-size: 1.4rem;
    color: #fff;
    height: 44px;
    background: #11d9bf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; }
    /* line 81, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .header .left-nav {
      display: inline-block;
      position: absolute;
      left: 0; }
      /* line 86, E:/allmobilize/h5game/www/scss/style.scss */
      .game-app .header .left-nav img {
        width: 36px;
        height: 36px;
        padding: 4px 8px; }
    /* line 92, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .header .center-nav {
      margin: 0 48px;
      display: block;
      line-height: 44px;
      text-align: center; }
    /* line 98, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .header .right-nav {
      display: inline-block;
      position: absolute;
      right: 0; }
  /* line 106, E:/allmobilize/h5game/www/scss/style.scss */
  .game-app .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 44px;
    background: #11d9bf; }
    /* line 113, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .footer .footer-nav-bar {
      display: inline-block;
      width: 25%;
      text-align: center;
      line-height: 44px;
      color: #fff;
      font-size: 1.4rem; }

/* line 130, E:/allmobilize/h5game/www/scss/style.scss */
.dashboard {
  margin-top: 44px; }

/* line 135, E:/allmobilize/h5game/www/scss/style.scss */
.recommend {
  background: #f5f5f5;
  margin: 44px 0;
  height: 100%; }
  /* line 143, E:/allmobilize/h5game/www/scss/style.scss */
  .recommend .app-list {
    background: #fff;
    position: relative;
    display: inline-block;
    height: 64px;
    width: 100%;
    margin: 8px 0 0 0; }
    /* line 151, E:/allmobilize/h5game/www/scss/style.scss */
    .recommend .app-list .list-left {
      position: absolute;
      left: 0;
      width: 64px;
      padding: 8px; }
      /* line 157, E:/allmobilize/h5game/www/scss/style.scss */
      .recommend .app-list .list-left img {
        height: 48px;
        width: 48px; }
    /* line 162, E:/allmobilize/h5game/www/scss/style.scss */
    .recommend .app-list .list-center {
      display: inline-block;
      padding-left: 80px;
      padding-right: 40px;
      vertical-align: top; }
      /* line 168, E:/allmobilize/h5game/www/scss/style.scss */
      .recommend .app-list .list-center .app-title {
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding-top: 0.8rem; }
      /* line 173, E:/allmobilize/h5game/www/scss/style.scss */
      .recommend .app-list .list-center .app-desc {
        font: 1.3rem;
        line-height: 2rem; }
    /* line 178, E:/allmobilize/h5game/www/scss/style.scss */
    .recommend .app-list .list-right {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 12px; }

/* line 188, E:/allmobilize/h5game/www/scss/style.scss */
.category-list {
  margin-top: 44px;
  padding-bottom: 44px; }
  /* line 193, E:/allmobilize/h5game/www/scss/style.scss */
  .category-list .game-card .game-title {
    padding: 0 0 0 8px; }
    /* line 196, E:/allmobilize/h5game/www/scss/style.scss */
    .category-list .game-card .game-title p {
      margin: 0;
      line-height: 48px;
      font-size: 16px;
      position: relative; }
      /* line 202, E:/allmobilize/h5game/www/scss/style.scss */
      .category-list .game-card .game-title p a {
        position: absolute;
        right: 8px;
        color: #11d9bf;
        font-size: 14px;
        text-decoration: none; }
  /* line 212, E:/allmobilize/h5game/www/scss/style.scss */
  .category-list .game-card .game-app-list .list-left {
    width: 100px;
    height: 64px; }
    /* line 216, E:/allmobilize/h5game/www/scss/style.scss */
    .category-list .game-card .game-app-list .list-left span {
      display: inline-block;
      line-height: 48px;
      width: 28px;
      margin-right: 8px;
      text-align: center;
      vertical-align: top; }

/* line 229, E:/allmobilize/h5game/www/scss/style.scss */
.app-detail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200; }
  /* line 237, E:/allmobilize/h5game/www/scss/style.scss */
  .app-detail .app-iframe {
    height: 100%;
    width: 100%;
    padding-bottom: 44px;
    box-sizing: border-box;
    border: 0px; }
  /* line 245, E:/allmobilize/h5game/www/scss/style.scss */
  .app-detail .app-option-list {
    position: fixed;
    bottom: 0;
    height: 44px;
    width: 100%;
    font-size: 0;
    background: #11d9bf; }
    /* line 253, E:/allmobilize/h5game/www/scss/style.scss */
    .app-detail .app-option-list .app-option {
      display: inline-block;
      width: 25%;
      font-size: 1.4rem;
      text-align: center;
      line-height: 44px;
      font-size: 1.4rem;
      color: #fff; }
