/* line 4, E:/allmobilize/h5game/www/scss/style.scss */
html, body, h1, h2, h3, h4, div, p {
  margin: 0; }

/* line 9, E:/allmobilize/h5game/www/scss/style.scss */
html, body {
  font-size: 62.5%; }
  /* line 13, E:/allmobilize/h5game/www/scss/style.scss */
  html section, body section {
    height: 100%; }

/* line 19, E:/allmobilize/h5game/www/scss/style.scss */
.game-app {
  height: 100%; }
  /* line 23, E:/allmobilize/h5game/www/scss/style.scss */
  .game-app .header {
    font-size: 1.4rem;
    color: #fff;
    height: 44px;
    background: #11d9bf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; }
    /* line 33, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .header .left-nav {
      display: inline-block;
      position: absolute;
      left: 0; }
    /* line 38, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .header .center-nav {
      margin: 0 48px;
      display: block;
      line-height: 44px;
      text-align: center; }
    /* line 44, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .header .right-nav {
      display: inline-block;
      position: absolute;
      right: 0; }
  /* line 52, E:/allmobilize/h5game/www/scss/style.scss */
  .game-app .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 44px;
    background: #11d9bf; }
    /* line 59, E:/allmobilize/h5game/www/scss/style.scss */
    .game-app .footer .footer-nav-bar {
      display: inline-block;
      width: 25%;
      text-align: center;
      line-height: 44px;
      color: #fff;
      font-size: 1.4rem; }

/* line 76, E:/allmobilize/h5game/www/scss/style.scss */
.dashboard {
  margin-top: 44px; }

/* line 81, E:/allmobilize/h5game/www/scss/style.scss */
.recommend {
  background: #f5f5f5;
  margin: 44px 0;
  height: 100%; }
  /* line 89, E:/allmobilize/h5game/www/scss/style.scss */
  .recommend .app-list {
    background: #fff;
    position: relative;
    display: inline-block;
    height: 64px;
    width: 100%;
    margin: 8px 0 0 0; }
    /* line 97, E:/allmobilize/h5game/www/scss/style.scss */
    .recommend .app-list .list-left {
      position: absolute;
      left: 0;
      width: 64px;
      padding: 8px; }
      /* line 103, E:/allmobilize/h5game/www/scss/style.scss */
      .recommend .app-list .list-left img {
        height: 48px;
        width: 48px; }
    /* line 108, E:/allmobilize/h5game/www/scss/style.scss */
    .recommend .app-list .list-center {
      display: inline-block;
      padding-left: 80px;
      padding-right: 40px;
      vertical-align: top; }
      /* line 114, E:/allmobilize/h5game/www/scss/style.scss */
      .recommend .app-list .list-center .app-title {
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding-top: 0.8rem; }
      /* line 119, E:/allmobilize/h5game/www/scss/style.scss */
      .recommend .app-list .list-center .app-desc {
        font: 1.3rem;
        line-height: 2rem; }
    /* line 124, E:/allmobilize/h5game/www/scss/style.scss */
    .recommend .app-list .list-right {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 12px; }

/* line 134, E:/allmobilize/h5game/www/scss/style.scss */
.category {
  margin-top: 44px; }
